@import 'core/variables';
@import 'core/reset';

.palettes {
    border: 2px solid lightgray;
    display: flex;
    gap: 1px;
    width: 105px;
}

.palette__color {
    width: 20px;
    height: 20px;
}
